@model IEnumerable<ksiegarniaAplikacja.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image: url(https://blogger.googleUsercontent.com/img/b/R29vZ2xl/AVvXsEhFSNMSbVTsWgUnULVXxhm1oEvdbVUyEJ7qs3OzFs_HBqcnwoGM_2kQDjmIAhkBbzvaicVkqulOR3jph00Ee7fQHu93iyIp5aP0teEhiqFxVqDoC-VjPAG7cPDfhMMcX44x7cstpJvzTzVI/s2048/jessica-ruscello-OQSCtabGkSY-unsplash.jpg)">
	<h1 class="display-4">Witaj w naszej księgarni internetowej!</h1>
	<p>Znajdziesz tutaj liczne pozycje, które pomogą Ci w pracy czy rozrywce</p>
	<!-- Lista kilkunastu najbardziej znanych książek z bazy danych   Próba commitu-->
	<div class="container">
		<div class="row justify-content-evenly ">
			@{
				foreach(var book in Model)
				{
					<div class="col">
						<div class="card" style="width: 12rem; margin:10px">
							<div class="card-body bg-info bg-gradient">
								<h2 class="card-title">@book.Title</h2>
								<h4 class="card-subtitle">@book.Author</h4>
								<p class="card-text">@book.Price zł.</p>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>
